
<h1>Drag Drop</h1>
<div class="container">
<div class="column has-text-centered" *ngFor="let board of boards; let i = index">
  <table class="bordered">
    <tr *ngFor="let row of board.tiles; let j = index">
      <td *ngFor="let col of row; let k = index" (click)="selectCell(j, k)" class="cell">
        <ng-container *ngIf="col.used; else notUsed">
            <div class="cell-used">
                {{ j }} {{ k }}
                  <br>
                  {{col.used}}
              </div>
        </ng-container>
        <ng-template #notUsed>
          <div class="cell-not-used">
          {{ j }} {{ k }}
            <br>
            {{col.used}}
          </div>
        </ng-template>  
      </td>
  </tr>
</table>
</div>
<div class="other-arr">
  <table>
    <div dragula="TEST">
    <td *ngFor="let ship of ships" class="ship">
      {{ship}}
    </td>
  </div>
  </table>
</div>
</div>
<router-outlet></router-outlet>
